# IntelliJ/PHPStorm project files
/.idea/
/*.iml
/srdb/
/*.sh
!/sass.sh
!/minify-js.sh
!/composer_links.sh
/node_modules/
/vendor/
/wordpress/
/wp-resources/plugins/sil-dictionary-webonary/include/lang/*.old
/wp-resources/plugins/sil-dictionary-webonary/include/lang/*.mo
/wp-resources/plugins/sil-dictionary-webonary/include/sem-domains/*.old
/wp-resources/plugins/sil-dictionary-webonary/include/sem-domains/*.mo
/wp-resources/themes/webonary-zeedisplay/includes/lang/*.old
/wp-resources/themes/webonary-bootstrap-5/css/*.css
/wp-resources/themes/webonary-bootstrap-5/css/*.map
/PRIVATE_NOTES.md
.DS_Store
/test*.*