<header id="page-breadcrumbs" class="hidden-xs">
  <div class="container">
    <h2 class="page-header">
      <ol class="breadcrumb">
          <li><a href="{{home_url}}">Home</a></li>
          {% for crumb in crumbs %}
            <li><a href="{{crumb.url}}">{{crumb.title}}</a></li>
          {% endfor %}
          <li><a href=""><span class="last-crumb">{{post.title}}</span></a></li>
      </ol>
    </h2>
  </div>
</header>
