<footer class="footer-top">
	<div class="container">
		<div class="row">
			<nav class="hidden-xs col-sm-4 col-md-4">
			<div><h2>SIL International</h2><div class="menu-footer_sil-container">
			<ul id="menu-footer_sil" class="menu">
				<li id="menu-item-89" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-89"><a href="http://www.sil.org/about/discover">Discover SIL</a></li>
				<li id="menu-item-91" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-91"><a href="http://www.sil.org/language-development">Language Development</a></li>
				<li id="menu-item-92" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-92"><a href="http://www.sil.org/about/news">News</a></li>
			</ul>
			</div></div>  
        {{footer_sil}}
			</nav>
			<nav class="col-xs-6 col-sm-4 col-md-4">
			<div><h2>Language Information</h2>
			<div class="menu-footer_software-container">
			<ul id="menu-footer_software" class="menu">
				<li id="menu-item-99" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-99"><a href="http://www.ethnologue.com/">Ethnologue</a></li>
				<li id="menu-item-100" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-100"><a href="http://www.sil.org/iso639-3">ISO 639-3</a></li>
				<li id="menu-item-101" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-101"><a href="http://www.sil.org/resources/software_fonts">Dictionary Services</a></li>
			</ul>
			</div>
			</div>  
        {{footer_software}}
			</nav>
			<nav class="col-xs-6 col-sm-4 col-md-4">  
			<div><h2>Contact &amp; Support</h2>
			<div class="menu-footer_contact-container">
			<ul id="menu-footer_contact" class="menu">
				<li id="menu-item-658" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-658"><a href="http://software.sil.org/news/">News</a></li>
				<li id="menu-item-403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-403"><a href="http://software.sil.org/products/">Products</a></li>
				<li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-129"><a href="http://software.sil.org/about/">Contact</a></li>
			</ul>
			</div>
			</div>
        {{footer_contact}}
			</nav>
		</div>
	</div>
</footer>
