.env

*.js
!.*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
template.yaml

# test data files
data

# testing
coverage
lib/__tests__/__snapshots__/webonary-cloud-api.test.ts.snap