.env

*.js
!.*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
template.yaml

# test data files
data
mongo_utils/dump_*
mongo_utils/refresh_*
mongo_utils/webonary*.yaml


# testing
coverage
lib/__tests__/__snapshots__/webonary-cloud-api.test.ts.snap