{% extends "base.twig" %}

{% block content %}

<section id="content_primary">

  <div class="container">
  	<div class="row">
  	
  		<div class="col-md-12 col-sm-12">
    		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
    			<section class="article-content">
{#    				<h1 class="article-h1">{{post.title}}</h1>#}
    				<div class="article-body">
    					{{post.content}}
    				</div>
    			</section>
    		</article>
      </div>
      
{#		{% include "sidebar.twig" %}
#}      
    </div>
  </div>

</section>

{% endblock %}