# Composer
/vendor/

# ignore config file
wp-config.php

# ignore google auth files
google*.html

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore log files and databases
*.log
*.sql
*.sqlite
