

footer {

  background-color: $webonary-primary;
  color: $white;
  padding: 16px 0;

  &.footer-alternate {
    background-color: $webonary-secondary;
    color: $white;
  }

  a {
    color: $white;
  }

  #footer-copyright{
    margin: 15px 0;
  }

  hr { opacity: 0.7; }

  #bottom-branding {
    div {
      flex: 1;
      min-width: 300px;
    }
  }
}
