// Override bootstrap framework variables.
// Full list of variables in [path to themes/contrib]/bootstrap4/dist/bootstrap/4.4.1/scss/_variables.scss
// or [path to themes/contrib]/bootstrap4/scss/_theme_variables.scss.

$enable-responsive-font-sizes: true;
$input-btn-focus-width: 0.08rem;  // reduce the width of the blue glow around focused input controls

$font-family-sans-serif: Lato, "Helvetica Neue", Arial, Helvetica, Ubuntu, sans-serif !default;
$font-family-serif:      "Times New Roman", serif !default;
$font-family-monospace:  monospace !default;
$font-family-base:       $font-family-sans-serif !default;

$headings-font-family:   $font-family-sans-serif !default;
//$headings-margin-bottom:      $spacer * .5 !default;
//$headings-font-family:        null !default;
//$headings-font-style:         null !default;
$headings-font-weight:        700;
//$headings-line-height:        1.2 !default;
//$headings-color:              null !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:   1.25rem !default;
$font-size-sm:   0.875rem !default;
$font-size-xs:   0.75rem !default;
$h1-font-size:   1.8rem !default;
$h2-font-size:   1.7rem !default;
$h3-font-size:   1.6rem !default;
$h4-font-size:   1.4rem !default;
$h5-font-size:   1.25rem !default;
$h6-font-size:   1rem !default;

$white:    #fff;
$gray-100: #f8f8f8;
$gray-200: #e9e9e9;
$gray-300: #dedede;
$gray-400: #cacaca;
$gray-500: #ababab;
$gray-600: #747474;
$gray-700: #434343;
$gray-800: #323232;
$gray-900: #212121;
$black:    #000;

$grays: (
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
);

$blue:    #00008b;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #802819;
$orange:  #ea6a02;
$yellow:  #ffc107;
$green:   #4a5948;
$teal:    #20c997;
$cyan:    #17a2b8;

$webonary-primary:   #85005B;
$webonary-secondary: #008554;
$webonary-link:      #855600;

$colors: (
        "blue":       $blue,
        "indigo":     $indigo,
        "purple":     $purple,
        "pink":       $pink,
        "red":        $red,
        "orange":     $orange,
        "yellow":     $yellow,
        "green":      $green,
        "teal":       $teal,
        "cyan":       $cyan,
        "white":      $white,
        "gray":       $gray-600,
        "gray-dark":  $gray-800
);

$primary:       $webonary-primary;
$secondary:     $webonary-secondary;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;
$default:       $gray-600;

$theme-colors: (
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark,
        "default":    $default
);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1400px,
        xxl: 1800px
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
        //sm: 540px,
        //md: 720px,
        lg: 960px,
        xl: 1360px,
        xxl: 1760px
) !default;

//$body-bg:    #f1f3f2 !default;
//$body-color: $gray-900 !default;




// WEBONARY OVERRIDES
$navbar-nav-link-padding-x: 1rem;

$navbar-toggler-padding-y: .75rem !default;
$navbar-toggler-padding-x: .75rem !default;

$link-color: $webonary-link;
