
$h1-color: $blue;
$h2-color: #747474;
$h3-color: #747474;
$h4-color: #747474;
$h5-color: $red;
$h6-color: #747474;

$gray-text: #474747;
$blue-text: #013c8a;
$green-text: #405c3d;
$red-text: #820309;

$disabled-button-background: #545454;
$orange-button-light: #f4911d;
$orange-button-dark: #ea6a02;

$highlight-backcolor: #60745d;
$background-color: #eaeaea;
$dark-background-color: #545454;
$blue-background-color: #174065;

$menu-backcolor-light: #747474;
$menu-backcolor-dark: #434343;
$menu-hover-backcolor: $menu-backcolor-light;
$menu-image-hover-backcolor: #999;

$active-menu-color: #eee;
$active-menu-backcolor: #818181;

$mobile-menu-level-1: #454545;
$mobile-menu-level-2: #545454;
$mobile-menu-level-1-hover: #232323;
$mobile-menu-separator: #232323;

$header-color: #ffffff;
$header-backcolor: $blue;

// WEBONARY VARIABLES
$footer-backcolor: $webonary-primary;
$footer-color: $white;
