a, a:link, a:visited{
	color: #007005;
}
#sidebar ul li h2,
#topnavi ul li.current_page_item a, #topnavi ul li.current-cat a, #topnavi ul li.current-menu-item a  {
	color: #007005 !important;
}
.post h2, .attachment h2, .post h2 a:link, .post h2 a:visited {
	color: #007005;
}
#slideshow .post h2 a{  
    color: #007005;
}
.comment-author .fn, .comment-reply-link {
	color: #007005 !important;
}
.wp-pagenavi .current {
    background-color: #007005;
}
#slide_keys a:link, #slide_keys a:visited {
	color: #007005 !important;
}