<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/wordpress-develop/src/wp-content/plugins/contact-form-7-to-database-extension/phpunit" />
        <option value="$PROJECT_DIR$/test-php" />
        <option value="$PROJECT_DIR$/wordpress-develop/src/wp-content/plugins/wordpress-importer/php-toolkit/DataLiberation/vendor-patched/rowbot/url/tests" />
      </list>
    </option>
  </component>
</project>